/* Modal personnalisé pour le profil */
.custom-modal {
  display: none;
  position: fixed;
  z-index: 1050;
  margin: 30px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
}

.custom-modal.show {
  display: flex;
}

.custom-modal-dialog {
  background: #fff;
  margin: auto;
  padding: 32px 24px 24px 24px;
  border-radius: 12px;
  max-width: 50%;
  width: 100%;
  box-shadow: 0 8px 32px rgba(0,0,0,0.18);
  position: relative;
  animation: modalFadeIn 0.3s;
  padding: 15px;
}


.custom-modal .close {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  color: #888;
  background: none;
  border: none;
}
.custom-modal > form-group{
  margin: 1rem; /* espace vertical entre les champs */
  padding: 15px;
}
.form-row {
  display: flex;
  justify-content: left; /* Centre les éléments horizontalement */
  padding: 15px;
  gap: 15px; /* Facultatif : ajoute un espacement entre les éléments */
}

@keyframes modalFadeIn {
  from { transform: translateY(-40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
} 